@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
html {
  height: 100%;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(rgb(119, 118, 118),rgb(33, 33, 33));
}
.card{
  /* width: 500px; */
  border: none;
  background-color: rgb(28, 28, 28);
  padding:2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.screens{
  width: 100%;
  height: 5rem;
  color: white;
  font-size: 1.5rem;
  background-color: rgb(28, 28, 28);
  border: none;
  text-align: right;
  display: flex;
}
.operation{
  width: 20%;
  margin-right: 5%;
  min-height: 100%;
  position: relative;
}
.screen{
  flex: 1;
  width: 75%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
}
.sign{
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(28, 28, 28);
  border: none;
  color: white;
  font-size: 1.5rem;
  text-align: right;
}
.primary{
  width: 100%;
  height: 50%;
  background-color: rgb(28, 28, 28);
  border: none;
  color: white;
  font-size: 1.5rem;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
.secondary{
  height: 50%;
  width: 100%;
  background-color: rgb(28,28,28);
  border: none;
  color: white;
  font-size: 1rem;
  text-align: right;
}
.calc{
  display: flex;
  flex-direction: column;
  gap:10px
}
.row{
  display: flex;
  gap:10px;
}
.btn{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  font-size: 1rem;
  background-color: rgb(224, 115, 13);
  color: white;
  border: none;
}
#zero{
  width: 8.625rem;
  border-radius: 2rem;
}

@media screen and (max-width : 650px){
  body{
    background-color: rgb(28, 28, 28);
  }
  .card{
    height: 100vh;
    width: 100vh;
    border-radius: 0px;
    align-items: center;
  }
  .screen{
    height: 30%;
    font-size: 1.375rem;
    text-align: right;
  }
  .calc{
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: space-between;
  }
  .row{
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .btn{
    height: 5rem;
    width: 5rem;
    font-size: 1.25rem;
  }
  #zero{
    width: 10.625rem;
  }
}
